<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.agasinsk.recman">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-sdk tools:overrideLibrary="com.microsoft.identity.msal" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="auth"
                    android:scheme="msal9aadc997-1173-42ca-a29e-d0b492bd2686" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="https://login.microsoftonline.com/common"
            android:value="authority string" />
        <meta-data
            android:name="com.microsoft.identity.client.ClientId"
            android:value="9aadc997-1173-42ca-a29e-d0b492bd2686" />

        <service android:name=".service.ConversionJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <service android:name=".service.UploadJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
    </application>

</manifest>